<% provide(:title, "About") %>
<div class="jumbotron">
  <h1>What is BYPtime?</h1>
  <p>
    bypTIME is an application developed to enhance efficient communication and transparency throughout the BYP100 organization. In it's first iteration, we are solving the problem of attendance maintenance so that attendance, becoming a member, and active membership is transparent across the entire organization. In addition, we are moving towards developing the most robust and largest database of Black youth organizers in the country.
  </p>
  <p><a class="btn btn-danger btn-lg" href="http://www.byp100.org" role="button" target="_blank">Learn more</a></p>
</div>