- provide(:title, "Users")
%h1 Users
%table
  %tr
    %th Name
    %th Email
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= link_to 'Profile', user_path(user)

= link_to "Back", root_path