- provide(:title, 'Edit Event')
.panel.panel-default.edit_form
  .panel-heading
    %h2.panel-title Edit Event
  .panel-body
    = render 'form'
  %span.edit_form__actions
    = link_to 'Event', @event, class: 'btn btn-default'
    = link_to 'Back', events_path, class: 'btn btn-default'
