- provide(:title, "Create Event")
.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      %h2.panel-title Create Event
    .panel-body
      = render 'form'
    %span.edit_form__actions
      = link_to "Back", events_path, class: 'btn btn-default'
