// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.keen-widget.keen-metric {
  background-color: #dd1c2e !important;
}

.keen-metric {
  background: #49c5b1;
  border-radius: 4px;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px 0;
  text-align: center;
}

.keen-metric-value {
  display: block;
  font-size: 84px;
  font-weight: 700;
  line-height: 84px;
}

.keen-metric-title {
  display: block;
  font-size: 24px;
  font-weight: 200;
}