.events_header__details {
  color: grey;
}

.event_datetime {
  color: grey;
  border-right: 1px solid #ddd;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.event_actions {
  text-align: right;
  a {
    min-width: 85px;
    margin: 5px;
  }
}

.event_check_in {
  margin-left: 15px;

  input {
    display: none;
  }

  span:before {
    font-family: "FontAwesome";
    width: 1em;
    height: 1em;
    content: '\f10c';
    font-size: 1.5em;
  }

  input:checked ~ span:before {
    content: '\f058';
  }
}

.standard-pagination {
  $size: 25px;
  $fixedGutter: 20px;

  height: 60px;
  font-size: 14px;
  font-weight: 500;

  margin-right: $fixedGutter/2;

  .pagination {
    margin-top: $fixedGutter;
    float: right;
  }

  a, span {
    border: 1px lightgray solid;
    border-right: none;
    text-align: center;
    line-height: $size - 1;
    min-width: $size;
    max-width: $size*2;
    width: auto;
    display: block;
    float: left;
    color: lightcoral;
    padding: 1px 7px 0;

    &:last-child {
      border-right: 1px lightgray solid;
    }
  }

  span {
    color: lightgray;
  }

  em {
    color: white;
    font-style: normal;
    background-color: lightgray;
    text-align: center;
    line-height: 26px;
    min-width: $size;
    max-width: $size*2;
    width: auto;
    display: block;
    padding: 1px 7px 0;
    float: left;
  }

  .next_page, .previous_page {
    text-indent: -99999px;
    position: relative;
    max-width: $size;
    border-radius: 0 5px 5px 0;
    &:after {
      position: absolute;
      top: 1px;
      left: 0;
      text-align: center;
      width: $size;
      line-height: $size;
      content: ">";
      display: block;
      text-indent: 0;
    }
  }

  .previous_page {
    border-radius: 5px 0 0 5px;
    &:after {
      content: "<";
    }
  }
}