.events_header__details {
  color: grey;
}

.event_datetime {
  color: grey;
  border-right: 1px solid #ddd;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.event_actions {
  text-align: right;
  a {
    min-width: 85px;
    margin: 5px;
  }
}

.event_attendees {
  margin-top: 40px;
}

.event_check_in {
  margin-left: 15px;

  input {
    display: none;
  }

  span:before {
    font-family: "FontAwesome";
    width: 1em;
    height: 1em;
    content: '\f10c';
    font-size: 1.5em;
  }

  input:checked ~ span:before {
    content: '\f058';
  }
}