.navbar-brand {
  padding: 5px 15px !important;
}

.navbar.navbar-default {
  border: none;
  border-radius: 0;
  background-color: black;
}

.navigation__logo {
  max-height: 40px;
  max-width: 40px;
}