%footer.footer
  %nav
    %ul
      %li
        %a{:href => "http://byp100.org/contact", :target => "_blank"} Contact
      %li
        \|
      %li
        %a{:href => "http://byp100.org/", :target => "_blank"} BYP100
