%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      %nav
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Home", root_path
          %li= link_to "Log In", new_user_session_path
